.burger{
  &__menu{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 100vh;
    background-color: #ffffffe0;
  }

  &__wrapper{
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.69);

    &--open{
      display: block;
    }
  }

  &__button{
    display: block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    margin: 20px;
    border: none;
    background: none;

    &--to-close{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      margin: 50px 20px 100px;
      border: none;
      background: none;
      transform: rotate(45deg);
      &:hover{
        cursor: pointer;
      }

      div{
        position: relative;
        width: 100%;
        height: 100%;
        &::before, &::after{
          position: absolute;
          content: '';
          background-color: #000;
          transform: translate(-50%, -50%);
        }

        &::before{
          width: 100%;
          height: 2px;
          left: calc(50% - 1px);
          bottom: 50%;
        }

        &::after{
          width: 2px;
          height: 100%;
          right: 50%;
          top: calc(50% - 1px);
        }
      }
    }
    div{
      position: relative;
      width: 100%;
      height: 2px;
      background-color: #000;

      &::before, &::after{
        position: absolute;
        right: 0;
        left: 0;
        height: 2px;
        content: '';
        background-color: #000;
      }

      &::before{
        top: 10px;
      }

      &::after{
        bottom: 10px;
      }
    }

    &:hover{
      cursor: pointer;
    }
  }
}
@media screen and ( max-width: 768px ){
  .burger{
    &__button{
      display: flex;
    }
  }
}
@media (max-width: 576px){
  .burger{
    &__menu{
      width: 100vw;
    }
  }
}