.single-book{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
  width: 100%;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;

  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__container{
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__img{
    height: 100%;
    margin-right: 20px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__description{
    width: 100%;
    margin-top: 30px;
  }

  &__content{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25%;
    height: 100%;
    margin-right: 20px;
  }

  &__title{
    margin-bottom: 20px;
  }

  &__author{
    margin-bottom: 20px;
  }

  &__level{
    margin-bottom: 25px;
  }

  &__tags{
    display: flex;
    margin-bottom: 25px;
  }

  &__tag{
    list-style: none;
  }

  &__form{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    width: 25%;
    height: 100%;

    .my-button{
      align-self: flex-end;
      &[disabled]{
        margin-top: 10px;
      }
    }
  }

  &__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .title{}
    .value{}
  }

  &__count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .title{}
  }

  &__input{
    position: relative;
    width: 70px;
    height: 40px;
    border: 1px solid #000;
    border-right: none;
    border-radius: 10px;

    input{
      width: 20px;
      height: 100%;
      margin-right: 30px;
      margin-left: 20px;
      border: none;
    }

    button{
      font-size: 10px;
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      padding: 5px;
      border: 1px solid #000;
      background: none;
    }

    .increment{
      top: 0;
      border-top-right-radius: 10px;
    }

    .decrement{
      bottom: 0;
      border-bottom-right-radius: 10px;
    }
  }
}
@media (max-width: 992px) {
  .single-book{
    &__container{
      flex-direction: column;
    }
    &__content{
      width: 100%;
    }
    &__form{
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .single-book{
    height: 100%;
    &__wrapper{
      flex-direction: column;
      margin-right: 0;
    }
    &__content{
      border-bottom: 1px solid rgba(0, 0, 0, 0.53);
      border-radius: 5px;
      margin-bottom: 30px;
    }
    &__img{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }
  }
}
.buying-limit{
  color: red;
  align-self: flex-end;
  margin-bottom: 20px;
}