.dropdown{
  position: relative;
  width: 200px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  &:hover{
    cursor: pointer;
  }
}
select {
  text-indent: 5px;
}
@media (max-width: 576px) {
  .dropdown{
    margin-top: 20px;
    width: 100%;
  }
}