.books{
  min-height: 100%;
  &__header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }
  .pagination{
    &__button{
      margin: 10px;
    }
  }
  &__search{
    .input__wrapper{
      position: relative;
    }
    .books__input{
      padding-right: 35px;
    }
  }
  .search__button {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    img {
      width: 100%;
    }
  }
  .books-not-found{
    margin-top: 200px;
    font-size: 32px;
  }
}