.books{
  padding: 20px;

  &__header{
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  &__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.loade{}