@import '../../variables';

.header{
  height: 70px;
  padding: 50px 20px;
  border-top: 1px solid $main-text-color;
  border-bottom: 1px solid $main-text-color;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    font-size: 32px;
    color: $main-text-color;
    text-decoration: none;
    font-weight: bold;
  }
}
@media (max-width: 576px){
  .header{
    &__logo{
      font-size: 18px;
    }
  }
}
@media (max-width: 400px){
  .header{
    &__logo{
      font-size: 16px;
    }
  }
}