@import "src/common";

.nav{
  display: flex;
  align-items: center;
}

.cart__icon{
  width: 60px;
  height: 60px;
  margin-right: 20px;
  position: relative;
  z-index: 100;
  display: flex;
  align-self: center;
  justify-content: center;
  &:hover{
    .cart-svg{
      animation: cart-shaking 0.5s linear;
      fill:$secondary-bg-color;
    }
  }
  .amount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: $main-text-color;
    z-index: 1000;
    color: $main-text-color--light;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    right: 3px;
  }
  @keyframes cart-shaking {
    0% {
      transform:scale(0.5);
    }
    25%{
      transform: rotate(-20deg) scale(0.5);
    }
    50% {
      transform: rotate(-20deg) scale(0.5);
    }
    75% {
      transform: rotate(20deg) scale(0.5);
    }
    100% {
      transform: rotate(-20deg) scale(0.5);
    }
  }
  //svg{
  //  width: 20px;
  //  height: 20px;
  //}
  .cart-svg{
    transform: scale(0.5);

  }
}

.avatar{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid #000;
  border-radius: 100%;
}

@media screen and ( max-width: 768px ){
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .my-button{
    order: 4;
  }
  .cart-svg{
    fill: $main-text-color--light;
  }

  .avatar{
    order: 1;
    margin-bottom: 20px;
    border-color: $main-bg-color;
  }

  .username{
    order: 2;
    margin-bottom: 30px;
    color: $main-text-color--light;
    font-weight: 400;
  }
  svg{
    fill: red;
  }

  .cart__icon{
    order: 3;
    margin-right: 0;
    margin-bottom: 30px;
    .amount{
      background-color: $main-bg-color;
      color: $main-text-color;
    }
    &:hover{
      .cart-svg{
        fill: $secondary-text-color;
      }
    }
  }
}