.nav{
  display: flex;
  align-items: center;
}

.cart__icon{
  width: 60px;
  height: 60px;
  margin-right: 20px;
  position: relative;
  z-index: 100;
  padding: 10px;
  .amount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: black;
    z-index: 1000;
    color: white;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  img{
    width: 100%;
  }
}

.avatar{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid #000;
  border-radius: 100%;
}

@media screen and ( max-width: 768px ){
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .my-button{
    order: 4;
  }

  .avatar{
    order: 1;
    margin-bottom: 20px;
  }

  .username{
    order: 2;
    margin-bottom: 30px;
  }

  .cart__icon{
    order: 3;
    margin-right: 0;
    margin-bottom: 30px;
  }
}